html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #000000;
}

button {
  font-family: inherit;
}

body,
button,
.container {
  box-sizing: border-box;
}

.counter {
  display: flex;
  padding: 30px;
}

.container,
.counter__text-wrapper,
.counter__btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 36px;
  width: 100%;
  text-align: center;
}

.container {
  width: 100%;
  padding: 15px;
  background-color: rgb(112, 112, 112);
  border-radius: 10px;
}

.counter__text-wrapper {
  font-size: 32px;
  line-height: 44px;
  color: #000000;
}

h1 {
  color: #ffffff;
}

.counter__data {
  color: #fc6077;
}

.counter__data-extra {
  font-size: 21px;
}

.btn {
  width: 500px;
  padding: 28px 164px;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.counter__btn-plus {
  background: #4191ff;
}

.counter__btn-plus:active {
  background: #18a79f;
}

.counter__btn-reset {
  background: #d45366;
}

.counter__btn-reset:disabled {
  background-color: darkgray;
}

.counter__btn-reset:disabled:active {
  background-color: darkgray;
}

.counter__btn-reset:active {
  background: #d1e617;
}

@media (max-width: 767px) {
  .container,
  .counter__text-wrapper,
  .counter__btn-wrapper {
    row-gap: 18px;
  }

  .btn {
    width: 100%;
    padding: 10px;
    font-size: 24px;
  }
}
